[2020-12-27 03:16] martianatwork opened #3 "Minor issues but breaking"
Hey,

I was using the PR branch for development and now switching to the package.

- Wrong class name in `CreateUserWithTeamsFromProvider` stub

- `connected-accounts-form.blade.php` should be
[code]

instead of

[code]

- No handler for `Laravel\Socialite\Two\InvalidStateException`, to reproduce login to facebook with http, this error can be thrown for different reasons as well
- No error is show

[2020-12-27 06:42] joelbutcher commented on #3
Hey @martianatwork thanks for picking up on these issues.

The first point here is deliberate. There are two stubs with the same class name (just different file names to distinguish). If you've opted out of teams functionality on Jetstream, the other action stub gets published (check out the [`CreateNewUser`](https://github.com/laravel/jetstream/tree/1.x/stubs/app/Actions/Fortify) Fortify actions

[2020-12-27 09:12] joelbutcher commented on #3
@martianatwork The issues found above have now been sorted in the latest few merges.

I've created a new `HandleInvalidState` action that gets called whenever the exception is thrown by Socialite. All it does is throw the exception, but I've published the action into `App/Actions/Socialstream` so you're free to modify as you see fit.

Alternatively, if you wish to write your own implementation, ma

[2020-12-27 09:12] #3 closed

[2020-12-28 05:12] martianatwork commented on #3
@joelbutcher Thank you for the explanation and fixes. I will test more once I get sometime.

[2020-12-28 18:53] AnandPilania opened #9 "How to get the provider details used for current authentication session?"
Hi @joelbutcher, first of all, THANKS A TON for this package.

For ex, I added three providers (facebook, google & twitter) and used them alternatively for login.

So, how can I know that which provider is used for current login.

[2020-12-28 19:10] joelbutcher commented on #9
@AnandPilania No problems, it needed to be done!

Currently there isn't a way to do this from within the package itself, but if you wanted to write a PR for it, then my recommendation would be to add a `current_provider_id` column to the users table and update the controller logic to set the ID on login. Hope this helps!

[2020-12-29 05:18] AnandPilania commented on #9
I already done this via:

1. `using_provider` column (which holds `provider_name`) in `users` table,
2. update `using_provider` on `auth` AND `logout`

If you want/need, then I can create a PR.

Thanks & Regards

[2020-12-29 05:18] #9 closed

[2020-12-29 10:23] joelbutcher commented on #9
I personally wouldn't make `name` nullable. I'd use the name of the provider used to register. Any thee name at that point is redundant. If the account details are wrong, then the user can always set a password and delete the account.

Same for avatar. If one exists on the provider, I'd set the profile picture url from Jetstream to the avatar URL of the provider used to register

[2020-12-29 12:31] joelbutcher opened #10 "Connected accounts not deleted on account deletion"
## Steps to reproduce

1. Register with a provider
2. Set a password
3. Delete account
4. Attempt to log in with the same provider used for registration
5. `TypeError` produced as `$connectedAccount->user` returns `NULL`

[2020-12-29 12:55] #10 closed

[2020-12-29 14:24] bskade opened #13 "use nickname as fallback on CreateUserFromProvider"
it could be that name is null, so no account would be created

[2020-12-29 16:08] joelbutcher commented on #13
Do you have any examples of Socialite supported providers where this is the case?

[2020-12-29 17:28] bskade commented on #13
for example github - here i just get my nickname. Maybe because I dont have a public profile

[2020-12-29 19:29] joelbutcher commented on #13
Feel free to submit a PR

[2020-12-31 16:30] joelbutcher commented on #13
@bskade do you plan on writing a PR for this?

[2021-01-01 22:23] luiyongsheng opened #17 "[BUG] Attempt to read property "password" on null"
When rendering Inertia pages for guests, this error appears.

![image](https://user-images.githubusercontent.com/13586871/103447203-f56f2380-4cc2-11eb-8fbc-1cdeec9b096f.png)

![image](https://user-images.githubusercontent.com/13586871/103447190-c953a280-4cc2-11eb-889c-ab3d486fdf00.png)

[2021-01-01 23:37] joelbutcher commented on #17
Hi @luiyongsheng thanks for reporting this. Please can you list the steps to reproduce?

[2021-01-01 23:44] luiyongsheng commented on #17
I have routes that render Inertia pages that are exposed to anyone without `auth` middleware.
But after I installed socialstream, visiting those routes will result in the error mentioned above.

To reproduce:

1. Create a test route
[code]
2. Install and use `socialstream`
3. Visit `{url}/test`

[2021-01-01 23:45] joelbutcher commented on #17
Great, thanks!

[2021-01-02 01:11] #17 closed

[2021-01-03 00:04] joelbutcher commented on #13
Closing this issue due to lack of participation

[2021-01-03 00:04] #13 closed

[2021-01-03 11:26] illambo opened #26 "Support for customize OAuthController"
Hi could you give me a tip on how to overwrite OAuthController and routings ?
I try with publishing _socialstream-routes_ but maybe I'm doing something wrong.
Thanks

[2021-01-03 13:04] joelbutcher commented on #26
Why do you need to extend the functionality of these routes?

[2021-01-03 16:30] illambo commented on #26
Hi, in the project i am following i would need to configure for a custom provider a _implicit grant_ and scopes (due to supplier specification),
so basically instead of:

[code]

something like:

[code]

And in handleProviderCallback method instead of `$providerAccount = Socialite::driver($provider)->user();` this `$providerAccount = Socialite::driver($provider)->userFromToken($request->get('auth_

[2021-01-03 17:58] joelbutcher commented on #26
@illambo I've written a PR for this #27. Will be included in the V2 release.

[2021-01-03 17:58] #26 closed

[2021-01-03 18:43] illambo commented on #26
Good thank u very much! But it doesn't seem possible to manage routings and handle callback action.

What do you think about it?

[2021-01-03 20:39] joelbutcher commented on #26
@illambo As I said, defining the same route in your `web.php` file and specifying your own controller method will override the route and controller method by Socialstream

[2021-01-03 20:41] illambo commented on #26
Ok sorry, I'm sorry I didn't read that right.
Thank you very much!

[2021-01-05 17:15] DonDiegoAA opened #30 "Multilingual site, issue with register route"
Hello, thank you for this very useful package.

I am developing a multilingual site, I am using this package: https://github.com/mcamara/laravel-localization

I have a problem with the registration. The path of the registration page can be for example:
English side: www.mysite.com/en/register
or
Frensh side: www.mysite.com/fr/enregistrement

But in OAuthController, there are these codes find if it

[2021-01-05 18:41] joelbutcher commented on #30
Interesting problem. IMO it should be the responsibility of the `route()` method or subsequent dependency to determine the url or array of possible urls that are available given your problem.

Would this be better off as an issue for the package you're using to resolve?

[2021-01-05 20:17] DonDiegoAA commented on #30
@joelbutcher Thank you for your prompt response.

The solution you are proposing involves a modification of OAuthController.

In this case it's even easier for me to modify the handleProviderCallback function like this:
[code]
localizeUrl allows you to have the localized url of a route.

But I would have liked to have found a solution that does not require me to modify your package.

Wouldn't be i

[2021-01-05 20:46] joelbutcher commented on #30
@DonDiegoAA no problem!

I would prefer to not have a config for this specific use-case.

I suggest that you recreate the route and use your own controller making the modification yourself.

[2021-01-05 21:33] joelbutcher commented on #30
@DonDiegoAA just copy them into your web.php file

[2021-01-05 22:08] #30 closed

[2021-01-05 22:15] DonDiegoAA commented on #30
@joelbutcher Good news for me, I just had to add the SocialStream routes in web.php, and everything works fine, without having to modify OAuthController
Thanks again.

For those who want to use mcamara/laravel-localization with SocialStream, this is what my web.php looks like

[code]

[2021-01-06 14:12] paddockFerrari opened #31 "[bug] ErrorException | no copying of files possible"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
I tried both ways. First I installed your package and got the error. Then I installed Jetstream, then your package and got the same error.

**Environment context**
- Socialstream version: 2.0.2
- Jetstream stack: Inertia
- Laravel version: 8.21.0
- PHP version: 7.4.13

[2021-01-06 15:05] joelbutcher commented on #31
Fixed in 2.0.3

[2021-01-06 15:05] #31 closed

[2021-01-08 08:41] illambo opened #33 "[bug] Running artisan view:cache throws exception DirectoryNotFoundException"
**Describe the bug**
Run `php artisan view:cache` generate `Symfony\Component\Finder\Exception\DirectoryNotFoundException`

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Ability to cache views.

**Environment context**
- Socialstream version: 1.1.1
- Jetstream stack: Livewire
- Laravel version: 8.21.0
- PHP version: 7.4.12

[2021-01-08 08:50] illambo commented on #26
Sorry if I write to you again but if I overwrite in this way (example):
[code]
I can't run `php artisan route:cache` because throw `Unable to prepare route [login/{provider}] for serialization. Another route has already been assigned name [oauth.redirect].`

Do you have suggestions about it?
Thanks

[2021-01-08 09:15] joelbutcher commented on #26
You should publish the existing routes if you wish to modify them:

[code]

[2021-01-08 09:19] joelbutcher commented on #33
Hi @illambo please consult the Laravel documentation on the `cache:clear` artisan command.

My solution to this for you and anyone with this issue, would be to manually create the directory and then run the command.

[2021-01-08 09:19] #33 closed

[2021-01-08 09:20] illambo commented on #26
It works! Thank you very much and sorry for the trouble.

[2021-01-08 09:26] illambo commented on #33
I'm sorry "the insistence" but I don't understand, the problem is not given by `cache:clear` but by `view:cache` and seems related to the vendor.
Do you have any advice on this ?
Thanks

[2021-01-08 09:28] joelbutcher commented on #33
Sorry, I meant `view:cache`

[2021-01-08 09:40] illambo commented on #33
Super and very kind too! Thanks!

[2021-01-10 18:20] felixsc opened #35 "[bug] missing $fillable property 'secret'"
**Describe the bug**
The `ConnectedAccount` model does not include the `secret` property in its `$fillable` array.
Therefore the token secret is not saved when a social account is connected.

Because the `CreateConnectedAccount` action specifies

`'secret' => $providerUser->tokenSecret ?? null,`

I think it was forgotton. If you left it out deliberately consider this issue void.

**To Reproduce**

[2021-01-10 21:43] joelbutcher commented on #35
Hi @felixsc thanks for the bug report! This wasn't deliberate but a bug, rightly pointed out!

Can you send a PR to 2.x and I'll merge in and tag a patch release ASAP!

[2021-01-10 22:44] joelbutcher commented on #35
Hi @felixsc thanks for this!

This is actually by design - think of the 'credentials' aspect of the connected account model as the 'password' attribute(s), much like the User model. To assign values to these attributes, this package utilises Eloquent's `forceFill` method, to update the model regardless of the guarded attributes the user assigns.

[2021-01-10 22:44] #35 closed

[2021-01-11 08:45] felixsc commented on #35
I understand your explanation.

But then shouldn't the secret field be automatically filled when registering an account? For me it saved all the other properties (provider, provider_id, nickname, token, etc.) but not the secret. Only after adding it to the `$fillable` array it stores it. Which shouldn't be necessary with forceFill, right?

Not sure if I'm not understanding the forceFill correctly,

[2021-01-11 09:24] joelbutcher commented on #35
@felixsc I did a bit of investigating last night - you were right, there was a bug, but there's nothing wrong with `forceFill`.

When creating a Connected Account instance, it was using the following logic:

[code]

This has now been changed to:

[code]

I've tagged a patch release for this ([v2.0.3](https://github.com/joelbutcher/socialstream/releases/tag/v2.0.3))

[2021-01-11 10:16] felixsc commented on #35
Ahh, I see. Great news!

Thank you for taking care of it so quickly!

[2021-01-18 03:07] srdante opened #45 "Wrong release name"
The release v2.2.0 is currently with the name of v2.0.0.

[2021-01-18 09:36] joelbutcher commented on #45
Resolved, thanks

[2021-01-18 09:36] #45 closed

[2021-01-22 19:52] luiyongsheng opened #48 "[bug] redirecting to /null"
**Redirected to `/null` in some scenarios**
Maybe caused by the `origin_url` in session

**To Reproduce**
1. Fresh start a browser
2. Visit directly : `example.test/login`
3. Click the Facebook icon
4. You will be redirected to `example.test/null`

**Environment context**
- Socialstream version: `2.2.0`
- Jetstream stack: `Inertia`
- Laravel version: `8.24.0`
- PHP version: `8.0.1`
- Session drive

[2021-01-22 21:40] #48 closed

[2021-01-25 23:21] jomo77 opened #50 "Use Jetstream User Model"
**What problem does this feature request solve?.**
If the User or Team Model is not in the "App/Models" Directory the Package crashes cause the path is hardcoded in the source code.

**Describe your proposed solution**
JetStream uses the "useUserModel" and "useTeamModel" Method to set the Jetstream User/Team Model.
The package should provide a similar option or just use the JetStream Models.

**En

[2021-01-26 19:24] joelbutcher commented on #50
Feel free to submit a PR

[2021-01-28 03:49] a0981456759 opened #56 "Youtube guide"
Could you record the guide video to implement the third-party login like FB or google?
It glad that you create an awesome tool

[2021-01-28 18:52] luiyongsheng commented on #56
如果寫一篇Medium文章怎麼樣？

[2021-01-29 15:54] joelbutcher commented on #56
I have no plans to do a YouTube video for this currently. If you need a guide, this should provide a good starting point: https://joelbutcher.medium.com/socialstream-laravel-socialite-meets-jetstream-33f997cff3e1

[2021-01-29 15:54] #56 closed

[2021-01-29 16:19] joelbutcher commented on #50
@jomo77 Where is the hard-coding of these models causing you an issue? As far as I can see, it's in published (a.k.a modifiable) code?

[2021-01-29 17:57] srdante opened #59 "Add remember session option to v2.3.0 change log"

[2021-01-29 20:27] joelbutcher commented on #59
This is not a bug

[2021-01-29 20:27] #59 closed

[2021-01-29 20:54] jomo77 commented on #50
Hi Joel,

I just reinstalled the package and updated to 2.3.

This time I skipped the installation command and edited my User Model by myself.

The Installation breaks, because this line:
        copy(__DIR__.'/../../stubs/app/Models/User.php', app_path('Models/User.php'));

After editing all published Actions and replaced:

@param  \App\Models\User  $user
with
@param  mixed  $user

and the user &

[2021-01-29 22:15] joelbutcher commented on #50
@jomo77 thanks for the detailed explanation.

Socialstream is designed to work with a fresh, default Laravel 8 installation, the same as Jetstream.

Whilst having your models out of the (admittedly new) Models folder breaks the package. If you install on a fresh Laravel 8 install, nothing breaks.

I plan on removing the type hints that cause the error for you in 3.x

[2021-01-29 22:15] #50 closed

[2021-01-30 12:30] luiyongsheng opened #65 "[bug] InvalidStateException on Safari only"
When attempting to login(create user) using Safari, Chrome, and Firefox, only **Safari** returned `InvalidStateException`.

**Environment context**
- Socialstream version: 2.3.0
- Jetstream stack: Inertia
- Laravel version: 8.25.0
- PHP version: 8.0.1

[2021-01-30 12:37] luiyongsheng commented on #65
Solution:
[source](https://stackoverflow.com/a/60997974)

**config/session.php**

`'secure' => env('SESSION_SECURE_COOKIE', true), // or set it to true in your .env file`

...

`'same_site' => "none",`

[2021-01-30 12:37] #65 closed

[2021-01-30 14:17] joelbutcher commented on #65
Odd, I tend to do all my initial E2E testing in Safari as I know that it is prone to exposing problems (such as date and time input types (neither work!)

Thanks for the quick resolution.

[2021-02-02 15:20] Brouilles opened #67 "[bug] Column 'token' cannot be null with socialiteproviders"
**Describe the bug**
Hi! Thanks for you work.
I try to implement a steam login with https://socialiteproviders.com/Steam/#installation-basic-usage. But, when I try to link my Steam account I have this error:
[code]

With the following values (I have edited):
[code]

**To Reproduce**
1. Install socialstream
2. Follow socialiteproviders installation guide https://socialiteproviders.com/usage/
3. Fol

[2021-02-02 15:23] Brouilles commented on #67
So, I see the Provider don't return a token. But I don't know how can do.

[2021-02-02 20:48] joelbutcher commented on #67
You'll need to add `?response_type=token` as a query string param's. If you're on V2, you can create your own implementation of `JoelButcher\Socialstream\Contracts\ GeneratesProviderRedirect::class` and add the following to the `generate` method.

[code]

Hopefully that should help - let me know how you get on!

[2021-02-03 09:14] Brouilles commented on #67
Thanks for your anwser!
I have make my implementation and modify edit the `SocialstreamServiceProvider` has follow:
[code]

My `CustomGeneratesProviderRedirect` is also called (I check with the Logger) and go inside the if 'steam' provider. But I always have the same problem.
[code]

So `Integrity constraint violation: 1048 Column 'token' cannot be null `. with `?` in the values, at the column of

[2021-02-03 09:20] joelbutcher commented on #67
Okay, this doesn't appear to be an issue with the package as the intended providers for Socialite have all returned some sort of token to populate this field. You'll just have to write a migration to make that column accept `NULL`.

I'll make a note in the SocialiteProvidiers section in the README at some point today

Thanks for the spot!

[2021-02-03 09:20] #67 closed

[2021-02-05 14:01] PatrickOgilvie opened #70 "Generate Provider Callback similar to redirectForProvider"
Firstly, I'd like to say that this is a really clean, useful package and I wouldn't be here to suggest a feature if I didn't feel that way.

The Issue:

For certain providers, especially Facebook, it is crucial that you can extend the handleProviderCallback method in the OAuthController. This could be for a few reasons, but a couple that really stand out are:

- Every time a user uses the Facebook

[2021-02-05 14:13] joelbutcher commented on #70
Events are fired whenever a `ConnectedAccount` is created. You _could_ hook into this event and fetch the long-lived token in a background job or listener and store it against the corresponding record in the database.

[2021-02-05 14:27] PatrickOgilvie commented on #70
Yeah this would be an acceptable way to handle it, thank you for that suggestion. My issues are only with one particular provider because my use-case only requires facebook, there could still be other reasons that people may wish to inspect each login callback for all sorts of providers. As these companies all tighten up their data practices I'm very keen to always be respectful of permissions and

[2021-02-05 15:33] joelbutcher commented on #70
You could have a listener on the event and dispatch a different job for different providers. Although we're now entering the realm of design patterns/practices which are different from app to app

[2021-02-11 11:17] joelbutcher commented on #70
@PatrickOgilvie Any progress on this?

[2021-02-12 01:27] PatrickOgilvie commented on #70
I did get it working how I would like it to using #27, however in the end I ripped it all out and just rolled a way more basic socialite without any packages. Since my use-case was a bit more specific, and the OAuthController ends up getting totally cannibalised I can safely close this issue, thanks for your time!

[2021-02-12 01:27] #70 closed

[2021-02-21 15:09] FoksVHox opened #74 "What does this feature?"
Hello!

Firstly I want to say this a great package, but I wonder what does the `Features::createAccountOnFirstLogin()` do?

[2021-02-21 15:29] #74 closed

[2021-02-21 22:11] joelbutcher commented on #74
Hi, it creates an account if the user is attempting to log in with a provider and email that isn't registered in the database. When disabled, it redirects you back to the login route and asks the user to register instead.

[2021-02-21 22:14] FoksVHox commented on #74
Yeah found out

[2021-02-26 18:34] accesstechnology-mike opened #78 "How to redirect to 'intended' (or any custom route)"
Using latest Jetstream (with fortify), I want to redirect uses to the intended route that the auth middleware catches.

Where can I define this behaviour in socialstream please?

[2021-02-27 04:06] joelbutcher commented on #78
This is currently not a feature of Socialstream. I'm sure a PR that solves this problem would be widely accepted and could probably even go into v2

[2021-03-01 11:23] #78 closed

[2021-03-01 15:49] Brouilles commented on #13
Like this @bskade?
https://github.com/joelbutcher/socialstream/pull/79

[2021-03-05 17:29] NetRally opened #83 "[object Object] error message at existing account"
Hello!
When I try connect an existing accont from social provider I get the prompt that it was not successfull but the message is only [object Object]

[2021-03-06 11:55] joelbutcher commented on #83
Hi @NetRally

Please can you provide more info such as the stack you were using when you got this error. Every bit of information helps!

Thanks

[2021-03-06 12:16] NetRally commented on #83
I registered one account via Google and one with form. I logged in with the second one and made a try what happened when  I try to connect the Google account to this and then was this message. I think it should be a prompt that this account is already registered or connected or something similar.

[2021-03-09 13:56] joelbutcher commented on #83
@NetRally What branch are you using? I've just tested this on a fresh install from the latest release and it's working fine in all scenarios for me

[2021-03-14 10:49] AFink opened #90 "Use Named Error Bags"
**What problem does this feature request solve?.**
In my Login-form I only have the input errors (`<x-jet-input-error for="password"></x-jet-input-error>`), not the whole error loop. If I reenable the whole error loop `<x-jet-validation-errors />`, I would get the socialstream-errors AND the validation errors TWICE (in the input errors and in the error loop).

**Describe your proposed solution**
I

[2021-03-15 01:20] joelbutcher commented on #90
You can make these changes in your application if it's required.

[2021-03-15 01:20] #90 closed

[2021-03-15 01:23] joelbutcher commented on #90
Feel free to attempt a PR on this - happy to review any contributions from other dev's 😃

[2021-03-17 09:03] joelbutcher commented on #83
Closing this as I cannot replicate, if you continue to get this error, please @ mention me so I get an email notification

[2021-03-17 09:03] #83 closed

[2021-03-25 04:12] illambo opened #95 "Problem with returning errors during login"
php: 8.0.3
laravel/framework: 8.34.0
joelbutcher/socialstream: 2.4.1
laravel/jetstream: 2.2.4

Hello, I'm having trouble printing errors in login page,
in example "sign in was not found"

https://github.com/joelbutcher/socialstream/blob/09fad4e4c88771f47b50b43b4fb3a2736e4bbadf/src/Http/Controllers/OAuthController.php#L156

error output is not printed but if I use default key parameters in _->withE

[2021-03-25 08:16] joelbutcher commented on #95
Have you updated your views to account for this? Try using `$errors->socialstream->first('<Your-field-name><')`

[2021-03-25 09:59] NetRally commented on #95
You should separate the error bags, the default @if ($errors->any()) etc. worked only with jetstream errors.
Place for example @if ($errors->socialstream->any()) to grab them.

[2021-03-25 12:05] #95 closed

[2021-03-25 12:06] illambo commented on #95
Thanks! Sorry for the little know how :)

[2021-03-29 06:46] luiyongsheng opened #96 "[bug] SetProfilePhotoFromUrl : file_get_contents()"
**Describe the bug**
```file_get_contents(): https:// wrapper is disabled in the server configuration by allow_url_fopen=0```

**To Reproduce**
Steps to reproduce the behavior:
1. Use AWS S3 bucket or any other similar storage service
2. Login a social account
3. See error

**Expected behavior**
Allow profile photo to be uploaded to bucket

**Screenshot**
<img width="619" alt="image" src="https://

[2021-04-05 09:18] joelbutcher commented on #96
This is an extensible trait and you're free to alter the behaviour in your user model as you see fit for your specific use-case

[2021-04-05 09:18] #96 closed

[2021-04-12 18:11] jrbautista10 opened #102 "Target [JoelButcher\Socialstream\Contracts\UpdatesConnectedAccounts] is not instantiable while building [JoelButcher\Socialstream\Http\Controllers\OAuthController]."
When running php artisan route:list I get this error

 Target [JoelButcher\Socialstream\Contracts\UpdatesConnectedAccounts] is not instantiable while building [JoelButcher\Socialstream\Http\Controllers\OAuthController].

![image](https://user-images.githubusercontent.com/37645059/114441073-7e202880-9bfd-11eb-827b-feba50c5021e.png)

[2021-04-14 20:38] joelbutcher commented on #102
This is addressed in the [upgrade guide](https://github.com/joelbutcher/socialstream/blob/3.x/UPGRADE.md). Please refer to the `Create Connected Account Action` section detailed within the instructions for upgrading from 1.x to 2.x.

[2021-04-14 20:38] #102 closed

[2021-04-18 09:20] horaceho opened #103 "To supple Apple"
**What problem does this feature request solve?.**
To support login with Apple

**Describe your proposed solution**
To support login with Apple https://socialiteproviders.com/Apple/#installation-basic-usage

**Describe alternatives you've considered**
Manually: https://socialiteproviders.com/Apple/#installation-basic-usage

**Environment context**
- Socialstream version: 3.0.1
- Jetstream stack: L

[2021-04-18 22:13] joelbutcher commented on #103
I've purposefully restricted the providers this package supports to just those provided supported by the first-party Laravel package, Socialite. If you wish to include additional providers not supported by the Laravel team, you will need to implement this in your own app. Alternatively, you are free to maintain a fork supporting the providers not listed within the Socialite documentation.

[2021-04-18 22:13] #103 closed

[2021-04-22 11:39] wassim opened #104 "User should be able to delete his account even with no password set"
Is there a specific reason for the following modification?

old
[code]

new
[code]

[2021-04-22 12:03] wassim opened #105 "ResolveSocialiteUser.php is not published by default"
On fresh install, the `ResolveSocialiteUser` action stub is not published by default to `app/Actions/Socialstream` directory while being invoked by default in the provider.

This throws an exception error:

[code]

[2021-04-22 12:21] joelbutcher commented on #104
Yes, it's a security flaw and jetstream by default requires a password to delete an account, so I've kept that functionality.

[2021-04-22 12:26] #105 closed

[2021-04-22 12:31] joelbutcher commented on #104
@wassim see #107

[2021-04-22 12:48] #104 closed

[2021-04-25 11:27] opilo opened #108 "[bug] OAuthController always redirect to config('fortify.home')"
Login only redirects to config('fortify.home') and not the intended URL. Please add the intended helper to redirects in the handleProviderCallback method of LoginResponse class.

Thank you

[2021-04-25 16:18] joelbutcher commented on #108
Hey @opilo thanks for this issue report 👍. I'm a little confused as to why this is marked as a 'bug' - what specifically is broken here 🤔?

As far as I can tell, what you've requested is a feature request and change in functionality. Personally I don't see the need for this 🤷‍♂️, but if you can provide an example use-case where this is causing an issue, @ me in your reply and I'll take a look.

As

[2021-04-27 13:45] opilo commented on #108
@joelbutcher Hello Joel, sorry for using the wrong tag.
The Jetstream's default behavior is to redirect to the intended page when you log in using username and password, but if you use Socialstream, you will be redirected to the default page. So at this point the login mechanism acts in different ways which is not nice.
This causes issues where user is at a certain point, for example step 3 of a f

[2021-04-28 16:43] joelbutcher commented on #108
@opilo Created a bugfix branch for this in #109 Please can you test in your application?

[2021-04-29 08:27] opilo commented on #108
@joelbutcher Doesn't work for login. The redirect on line 192 must also be changed in order to work.
Thank you

[2021-04-29 22:26] joelbutcher commented on #108
@opilo just updated the PR

[2021-04-30 12:58] NielsvanHoof opened #110 "Callback action is returning a 404 page not found error"
**Describe the bug**
All callback routes return a 404 | Page not found error

I tried the facebook and google providers, I can select my account but during the callback a 404 not found error is returned.
Both are configured in my services.php file like this

[code]

**Screenshots**
[Screenshots of the issue](https://imgur.com/a/SvEz6C8)

- Socialstream version: 3.X
- Jetstream stack: Livewire
- La

[2021-04-30 13:57] joelbutcher commented on #110
The callback is `/oauth/<provider>/callback` not `/oauth/<provider>/callback`

[2021-04-30 13:57] #110 closed

[2021-05-02 11:12] opilo commented on #108
@joelbutcher closing bracket } is missing from the class. The logic works fine.

[2021-05-03 14:44] #108 closed

[2021-05-16 12:18] DonDiegoAA opened #115 "Automatically login an existing account trying to register again. (Features::loginExistingAccountOnRegister)"
**What problem does this feature request solve?.**
Avoids displaying an error message to a user trying to register  with an existing social account.

**Describe your proposed solution**
Instead, connect it automatically.
I like the createAccountOnFirstLogin feature.
It would be nice to have the reverse feature loginExistingAccountOnRegister.
Does this cause security issues that I can't see?

**Des

[2021-05-29 10:15] joelbutcher commented on #115
@DonDiegoAA I’ve pushed a branch with a new `autoLoginOnRegistration` feature. I’m travelling for the weekend to don’t have a lot of time to test this, so feel free to checkout the branch, give it a test yourself and stick any comments in here or PR directly to the branch and I’ll review them when I’m back from my trip.

https://github.com/joelbutcher/socialstream/tree/registration-auto-login

[2021-06-06 08:09] joelbutcher commented on #115
@DonDiegoAA I've created a pull request for the change here #118 as an example of how this could work... I'm still in debate as to whether to actually merge this, based off of the original discussions on Jetstream surrounding auto login on registration, before I wrote this package: https://github.com/laravel/jetstream/pull/444

[2021-06-11 10:17] #115 closed

[2021-06-11 16:14] mjdigital commented on #115
I've just installed this package in a newish project and am getting:

[code]

I have had to rework a few areas as I use UUIDs (technically ULIDs) rather than BigInts and split first name/last name for my users but looking at the code in **JoelButcher\Socialstream\Http\Controllers\OAuthController.php** it appears you have a method called "loginUser" but are calling $this->login($user); throughout t

[2021-06-12 12:14] joelbutcher commented on #115
@DonDiegoAA thanks for spot - Fixed in a patch release v3.1.1

[2021-06-14 08:54] mjdigital commented on #115
@joelbutcher Great thanks, although I may have led you astray a little in my last message by not being specific enough. Although, as I stated, changing `->loginUser()` to `->login()` worked for me, it was just a quick test and you are still actually calling `->loginUser()` on line 209 so either that needs changing to just `->login` to match the updated login method or everything needs changing to

[2021-06-18 13:24] seshac opened #127 "[ Getting an No such file or directory error after moving HandleInvalidState.php to other location]"
**Describe the bug**
 Getting the **No such file or directory error** after moving HandleInvalidState.php to other location even after updating in SocialstreamServiceProvider.php

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Move App\Actions\Socialstream file to another location and update namespace in SocialstreamServiceProvider.php  '
2.  Try to connect any provider, and you can

[2021-06-20 19:17] joelbutcher commented on #127
Did you update the namespace in the file(s) that you moved?

[2021-06-21 04:52] seshac commented on #127
Yes, I did, but still getting an error.

I fixed and created a PR for this. I was wondering if you find some time to review my PR.

Thank you for this wonderful package.

[2021-06-22 22:48] #127 closed

[2021-07-02 20:27] kuaza61 opened #130 "[bug] or error vendor/laravel/socialite/src/SocialiteManager.php:125 - Trying to access array offset on value of type null"
![Ekran görüntüsü 2021-07-02 221648](https://user-images.githubusercontent.com/7365944/124325411-d3c4fb00-db84-11eb-9429-c19626ed8ca3.jpg)
**Describe the bug**
Unable to login with social media accounts. I get the error in the picture: ErrorException
Trying to access array offset on value of type null
https://domain.com/oauth/facebook

I tried every way but couldn't install properly. I reinstalled

[2021-07-03 20:10] joelbutcher commented on #130
This isn't a bug with the package, but a bug with socialite providers. Having a quick look, your config is wrong. Client ids, secrets and redirect URI's should be inside the services.php config file.

[2021-07-03 20:11] #130 closed

[2021-08-15 09:43] raisonon opened #134 "[FR] Single Login/Register Process"
**What problem does this feature request solve?.**
I want a user to have a single link for users to use for login or registering. If Login clicked and no account, then redirect to register process.

**Describe your proposed solution**
Make a single button for both Login and Register.

**Attempts**

If I add this to my nav:

[code]

I get:

`{ "0": "An account with this Github sign in was not found

[2021-08-15 09:57] raisonon commented on #134
Solution found here: https://github.com/joelbutcher/socialstream/pull/58

[2021-08-15 09:57] #134 closed

[2021-09-09 09:02] mwkcoding opened #138 "[bug] Failed to open stream: File name too long at..."
**Describe the bug**
Seems like the file it saves in the `/tmp` directory is too long for PHP to handle. This is happening when doing Oauth with Google.

Full error (path redacted):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install, add Google service and make sure `Features::createAccountOnFirstLogin()` and `Features::providerAvatars()` is enabled.
2. Go to login page
3.

[2021-09-09 11:00] mwkcoding commented on #138
I see that this has been changed on the `3.x` branch but no release has been made. Would be nice with a release

[2021-09-09 17:54] joelbutcher commented on #138
Just released a patch in v3.2.1

[2021-09-09 17:54] #138 closed

[2021-09-10 06:39] mwkcoding opened #139 "[bug] SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'avatar_path' at row 1"
**Describe the bug**
This is caused by the `avatar_path` column on `connected_accounts` being a string when it needs to be `TEXT`.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install, add Google as provider
2. Make sure the app is set up in Google Cloud Console
3. Attempt login with Google account with profile image
4. See error

**Expected behavior**
Proper successful login with G

[2021-09-10 18:18] #139 closed

[2021-10-10 05:36] hilmibwx opened #145 "SQLSTATE[HY000]: General error: 1364 Field 'password' doesn't have a default value"
I try to register with google account but I get error "SQLSTATE[HY000]: General error: 1364 Field 'password' doesn't have a default value"

how to solve this issue? thank you

[2021-10-10 13:09] thomasrd1 opened #147 "More detailed instructoins"
Great package, however I got a bit lost. Maybe it would be good if there was some more instructions?
eg

- You need to add each provider package eg composer require socialiteproviders/github

- What do the following settings do?
Features::createAccountOnFirstLogin(),
Features::generateMissingEmails(),
Features::rememberSession(),
Features::providerAvatars(),

[2021-10-10 13:13] alexhiggins commented on #145
Have you ran the migrations after installing? The password field needs to be set to be nullable

[2021-10-11 00:25] thomasrd1 opened #148 "Allow user to disconnect/revoke access from a social login"
The user should have the option to disconnect from a social login (revoke access) within their profile.

![2021-10-11 11-24-33](https://user-images.githubusercontent.com/48821914/136718156-6a9c102d-d476-46d8-8ffd-5a98bb61de95.jpg)

[2021-10-12 08:30] #148 closed

[2021-10-12 08:33] #145 closed

[2021-10-12 08:36] joelbutcher opened #149 "Add Features to README"
**What problem does this feature request solve?.**
To provide an easy to understand rundown of each feature included in the package, what it does and how to enable / disable them, along with the consequence of each action.

**Describe your proposed solution**
Add a **Features** section to the README file

[2021-10-23 18:18] icornman opened #150 "[bug]"
**Describe the bug**
On a register and login page, I catch errors like JSON with numbers.
Screenshot:
![Screenshot from 2021-10-23 21-03-52](https://user-images.githubusercontent.com/36540792/138567087-b6724665-492f-4831-b05c-447fa329fa82.png)

I solve this problem:
OAuthController (for example: handleUserAlreadyRegistered function)
When the controller redirect you back with errors, you should rep

[2021-10-28 12:53] lsmith77 opened #151 "Target [JoelButcher\Socialstream\Contracts\CreatesUserFromProvider] is not instantiable"
**Describe the bug**
I just did a fresh installation of Jetstream (with Livewire), Socialite and your package.

When clicking on the "github" icon I receive

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the login page
2. Click on github icon
3. I end up on https://.../oauth/github

**Expected behavior**
Github login page

**Screenshots**

**Environment context**
- Socialstrea

[2021-10-29 14:49] holiq opened #152 "Support for laravel/breeze?"
Are you interested in making a package that works on laravel/breeze? Because many also use laravel/breeze, so I hope you can make it

[2021-11-02 08:30] joelbutcher commented on #152
No plans, sorry. I suggest you look into the documentation for Laravel Socialite, because the basics I employ here are fairly straightforward

[2021-11-02 08:30] #152 closed

[2021-11-02 08:40] joelbutcher commented on #151
Just tried this on a fresh install and I can't replicate the issue. Please make sure you have the published actions in `app/Actions/Socialstream` and haven't tampered with your `SocialstreamServiceProvider` to remove the container bindings that are placed there on install.

[2021-11-02 08:40] #151 closed

[2021-11-02 08:45] holiq commented on #152
@joelbutcher oke thank you

[2021-11-02 09:30] joelbutcher commented on #150
Wrapping this in an array, won't do anything, since Laravel casts and non `Validator` or `MessageBag` instances to an array anyway.

I'll do some more investigation into this later today as I'm at work, but this may require a refactor of the validation errors... Thanks for the spot

[2021-11-03 09:57] lsmith77 commented on #151
thank you for taking the time to double check this. indeed after going through the process once more, everything works flawlessly.

[2021-11-12 16:21] atmonshi commented on #150
I had a similar issue when I get redirected to the login screen without any message or exceptions!
I had to do

[code]

to see what's going on.
shouldn't these types of errors be thrown as exceptions? since it's for the developers not for the end-user, and it's good to catch them before going to prod (that what happened to me 😅)
and the error was
"The redirect_uri MUST match the registered callbac

[2021-11-15 20:42] lsmith77 commented on #30
@DonDiegoAA was there a specific reason why copying was more effective than just using `require`?

[2021-11-16 13:15] joelbutcher commented on #150
Feel free to submit a PR to help move this along. My work life has really ramped up recently.

For your given exception, that's expected if you've configured the callback URL for your app in either Google / Github incorrectly. Please make sure the callback is set to `https://<your-domain>/oauth/<provider>/callback`

[2021-12-01 20:15] lsmith77 commented on #104
for my clarification, this means until Jetstream supports deleting without password, socialstream will not support deleting of password-less users either? ie. if I want to allow password-less users to delete their account, I will need to take this up with jetstream maintainers?

semi-related I want to even make it possible to disable setting a password entirely on a team aka domain level, so that

[2021-12-02 12:56] joelbutcher commented on #104
@lsmith77, yes the team at Laravel are responsible for disabling deleting an account without a password. They may publish a file on install, that you can override, but I can't guarantee it.

RE your SSO questions, is it not enough to just hide the forms with a condition?

[code]

[2021-12-02 13:03] lsmith77 commented on #104
yeah but I then also need to add some logic to the controller to check this. will have to see how I can do this somewhat cleanly. kinda wish that socialstream would be seen as part of jetstream core.

[2021-12-02 14:42] lsmith77 commented on #104
ah .. looks like I am digging up old “wounds” with my above statement as I just found https://github.com/laravel/jetstream/pull/444

I will look into this a bit more on the jetstream side to see what sort of extension points might be needed to make this work cleanly. if I have any findings (ie. ideally a PR) you will seen it soon enough.

[2021-12-03 12:53] o7n commented on #145
I just struggled with this for an hour or so.

Why is the original users migration overwritten instead of an additional migration on top of the existing one being provided? It is very bad practice to modify a migration. I had to `db:wipe`, `migrate` and `db:seed` and then things worked, because I needed to re-run the existing but modified users table migration.

But a `migrate` should have been en

[2021-12-03 13:11] joelbutcher commented on #145
@o7n Socialstream, like Jetstream, and application scaffolding template, and should only be installed on NEW projects (as per Taylors specification in multiple PR's within the Jetstream repo).

[2021-12-03 13:16] joelbutcher commented on #104
@lsmith77 Yup, don't go there... 😢

[2021-12-03 13:37] o7n commented on #145
Sorry, but I think that’s a bit far fetched. Here, “new” means “don’t even think of typing ‘migrate’ before installing this” 🤔 and if every package would modify the initial migration, it would be a big mess.

[2021-12-03 14:29] joelbutcher commented on #145
@o7n Feel free to fork and maintain your own version, but I'm following the folks at Laravel in this case, to keep it as easy to integrate as possible with Jetstream.

[2021-12-03 14:43] o7n commented on #145
Again, I totally understand that this package should only be installed on new projects. I am just pointing out something I struggled with - which could easily be solved by a separate migration - and it might lead to less people using your (otherwise great!) package (I almost gave up as well).

Instead of the "feel free to fork" response a "feel free to PR" would have been more constructive. I don'

[2022-01-08 13:06] james-wong123 opened #157 "[bug]"
**Describe the bug**
[code]

![image](https://user-images.githubusercontent.com/87692325/148645158-05682a1c-85c7-482c-b942-1f5cc9bbdb11.png)

**Expected behaviour**
I was expected to log in, but instead, this pops out

**Environment context**
- Socialstream version: 3.2
- Jetstream stack: Inertia
- Laravel version: 8.78.1
- PHP version: 8.1.1

[2022-01-09 08:46] james-wong123 commented on #157
The problem is solved by changing `/tm/`

[2022-01-09 08:46] #157 closed

[2022-01-12 18:51] imClement opened #158 "OAuth2 for Twitter"
Is there any plan to implement OAuth 2 for Twitter service?

Thank you.

[2022-01-13 14:44] joelbutcher commented on #158
That's up to the maintainer for [laravel/socialite](https://github.com/laravel/socialite). This package isn't responsible for which OAuth versions are used, sorry.

[2022-01-16 01:49] helloadmin opened #167 "[bug] Temp path for avatar missing the trailing "/" for saving avatar"
ErrorException
file_put_contents(/tmpcacf450d-a5b9-4f8f-8455-d65e88911b30): Failed to open stream: Permission denied

vendor/joelbutcher/socialstream/src/SetsProfilePhotoFromUrl.php:19

 file_put_contents($file = sys_get_temp_dir().Str::uuid()->toString(), file_get_contents($url));

It appears that sys_get_temp_dir() is returning /tmp and not including the trailing slash /

/tmpcacf450d-a5b9-4f8f-

[2022-01-17 10:58] rightwayround opened #168 "Providers.php not published?"
Hi,

In the README it says:

This leads me to believe that I need to alter `/joelbutcher/socialstream/Providers.php` - which seems not to be published. I search my codebase for `hasBitbucketSupport` and the only place that the string is found is as above.

Would appreciate any help you can provide with this.

Many thanks

[2022-01-18 16:44] subdesign opened #170 "[bug] Login with Google on Login screen"
**Describe the bug**
if I use the OAuthControlller as is, when I try to log in with google provider on the login page, I get the _An account with this Google sign in was not found_.. message.

I dig in the code and found the following:

if I remove the session check from the if statement below, it works, creates the user, adds provider record and connects the two tables, even logs in the user.

[c

[2022-01-18 16:52] Sairahcaz commented on #170
You need to enable [Features::createAccountOnFirstLogin](https://github.com/joelbutcher/socialstream/blob/3.x/config/socialstream.php#L48)

[2022-01-18 16:59] subdesign commented on #170
Thanks

[2022-01-18 16:59] #170 closed

[2022-01-19 14:44] rightwayround commented on #168
... I have to add the Provider to /config/socialstream.php. That is looking at /vendor/joelbutcher/socialstream/src/Providers.php for the class names of the providers I am adding.

Do I need another class that extends providers I wonder ...

[2022-01-20 12:21] james-wong123 commented on #167
yea, I had the same problem as well
![image](https://user-images.githubusercontent.com/87692325/150337670-cf45e978-ecfc-4bb9-857a-e1638b424a68.png)
![image](https://user-images.githubusercontent.com/87692325/150337704-029c8bf2-f141-41ea-a0f8-05c4ab216fc5.png)

[2022-01-20 13:47] Sairahcaz commented on #167
#169 I fixed it in this PR...

[2022-01-20 20:22] selfsimilar commented on #150
The [`withErrors()`](https://github.com/laravel/framework/blob/d5cfa87b70524b96315ef6c38fef91b92b51d49e/src/Illuminate/Http/RedirectResponse.php#L131) method takes as its optional second argument the key to the MessageBag in which to put the error (default value is 'default'). The global variable `$errors` will only check the default bag for its most common methods ([`count()`](https://github.com/

[2022-01-21 20:53] rightwayround commented on #168
I have figured this out. Would it be appreciated if I contributed back to documentation? Could do a PR for README?

[2022-01-25 09:52] joelbutcher commented on #168
@rightwayround feel free to submit a PR if you think it solves an existing problem

[2022-01-25 09:53] #149 closed

[2022-01-25 09:59] #167 closed

[2022-01-25 10:12] joelbutcher commented on #168
@rightwayround there is a public `enabled` method in `Providers.php`. The `hasBitbucketSupport` method you mentioned above is used in the `socialstream-providers.blade.php` file for the Livewire stack. For reference , this method just calls the `enabled` method like so:

[code]

If you have a provider that you're adding that's not supported natively by [Laravel Socialite](https://github.com/larave

[2022-01-27 20:10] ejntaylor opened #174 "[bug] file_put_contents(/x): Failed to open stream: Permission denied - issue persists"
**Describe the bug**

I saw recent PR here for this issue: https://github.com/joelbutcher/socialstream/issues/157

However I still get this error:

`file_put_contents(/tmp61ede1ff-2eff-49e4-8c91-b1cfdcc87817): Failed to open stream: Permission denied`

from

`file_put_contents($file = sys_get_temp_dir().Str::uuid()->toString(), file_get_contents($url));`

I have tried checking perms for storage an

[2022-01-27 20:52] aidanthewiz commented on #174
This appears to be fixed here: d406cd7, but has not been released.

[2022-01-27 21:49] ejntaylor commented on #174
Thanks and hope it gets merged soon. I'm just glad I'm not going mad after trying everything I could think of!

[2022-01-27 22:47] thomasrd1 opened #175 "Send user email on registration"
What is the recommended way to send the user an email on registration using a social id?

[2022-01-29 13:24] joelbutcher commented on #174
@ejntaylor this has been fixed in release 3.4.0

[2022-01-29 13:25] joelbutcher commented on #175
@thomasrd1 since this leans on Jetstream and Jetstream uses Laravel Fortify, I believe that package fires an event when a user has been registered, worth checking in with their docs

[2022-01-29 13:25] #175 closed

[2022-01-29 13:25] #174 closed

[2022-01-29 13:26] #168 closed

[2022-01-29 13:26] joelbutcher commented on #168
Closing this issue due to the above merge and release of v3.4.0

[2022-01-29 13:27] joelbutcher commented on #150
Closing as the issue has been fixed with the above merge and the release of v3.4.0

[2022-01-29 13:27] #150 closed

[2022-02-22 01:00] james-wong123 opened #178 "When using socialstream to signin or register, inertia progressbar is not showing [bug]"
**Describe the bug**
When using socialstream to sign in or register, the inertia progress bar is not showing.

**Screenshots**
![image](https://user-images.githubusercontent.com/87692325/155044355-3ef25100-d478-41a2-939d-dca9ddd373b5.png)

**Environment context**
- Socialstream version: 3.3
- Jetstream stack: Inertia
- Laravel version: 9.1.0
- PHP version: 8.0

[2022-02-28 23:45] #178 closed

[2022-03-08 09:30] illambo opened #180 "[3.x] Check registration feature is enabled when handling errors"
https://github.com/joelbutcher/socialstream/blob/9214d398847aef2225fcee5b0d47740eaf103b1d/src/Http/Controllers/OAuthController.php#L105

I wanted to point out that I think the configuration check is missing.
Thanks.

[2022-03-09 00:40] joelbutcher commented on #180
@illambo great spot, thanks! I'll take a look at this ASAP

[2022-03-09 00:50] #180 closed

[2022-03-30 22:33] luiyongsheng opened #184 "Fatal error in sharing inertia data for multi-guard user management system"
**Describe the bug**
I'm building an internal tool that have `User` and `Admin` which both are separated `Illuminate\Foundation\Auth\User as Authenticatable` models. However when `Admin` successfully logged in, the `Admin` model which don't have `connectedAccounts` relationship broke the `ShareInertiaData` middleware.

**Screenshots**
<img width="1387" alt="image" src="https://user-images.githubus

[2022-03-30 22:39] luiyongsheng commented on #184
Temporary workaround

[code]

and also remove the `User` type inside `app\Policies\TeamPolicy.php` if needed:

[code]

[2022-03-31 07:28] james-wong123 opened #185 "How to redirect the page for AccountCompletion after the registration[bug]"
**Describe the bug**
I would like to generate a redirect if the account registration is not complete, but `GenerateRedirectForProvider` is not in `app/Actions/Socialstream` not sure what happened here.

**To Reproduce**

**Expected behavior**
I would like the user to complete the Registration if `username` field is null etc

I have edited the `CreateUserFromProvider.php` but not sure this work

[c

[2022-03-31 08:18] joelbutcher commented on #184
Hi there, thanks for using Socialstream!

This package is designed, like Laravel Jetstream, to work with a single Authenticatable user model. The work around above solves the issue for your use case. I am therefore closing this issue as, unfortunately, I cannot cater for all use cases and possible usages of this package.

However, if you strongly feel that a change is required here, please send in

[2022-03-31 08:18] #184 closed

[2022-04-01 17:42] joelbutcher commented on #185
Hey @james-wong123 Please can you provide the correct Socialstream version you are using? The latest 2.x release is 2.5.1, but you've put 2.6 as the version causing the problem! 😅

[2022-04-01 22:17] james-wong123 commented on #185
@joelbutcher, haha sry for the wrong version 🤣

[2022-04-03 07:30] joelbutcher commented on #185
@james-wong123 thanks for updating, will try and take a look at this this afternoon

[2022-04-22 16:40] joelbutcher commented on #184
Thanks! Released in 3.4.2

[2022-05-06 07:57] james-wong123 commented on #185
@joelbutcher, Do I have to generate the redirect in `App/Providers/SocialstreamServiceProvider.php/` after the registration, if the given info is not complete. i.e `username`

[2022-05-06 12:11] joelbutcher commented on #185
What you're doing seems wrong `Socialite::redirect()` is the external redirect to connect to an oauth provider (I.e. redirect to Google / Facebook).

What you're doing in `CreateUserFromProvider.php` is "redirect to {provider} after returning from {provider} to create a user".

[2022-05-06 12:19] james-wong123 commented on #185
@joelbutcher,

First, the user registers an account using `socialstream`, obviously not all the 3rd party OAuth provides a `username`, so we would require to redirect the user for the account completion. 😊

[2022-05-06 16:35] joelbutcher commented on #185
Yeh best approach is to use something like `RequiresUsername` middleware and wrap all routes with that, then redirect users to the form they should use to set their username. Similar to Laravels own `verified` middleware for ensuring users verify their email address

[2022-05-06 22:07] james-wong123 commented on #185
@joelbutcher, Thx !

[2022-05-06 22:07] #185 closed

[2022-05-19 08:39] ibnu-ja opened #191 "Change Inertia stubs to use Composition API"
**What problem does this feature request solve?.**
Current Socialstream stack use Options API but since [v2,7.0](https://github.com/laravel/jetstream/releases/tag/v2.7.0), Jetstream use Composition API. It would be nice if Socialstream also implement Composition API

**Describe your proposed solution**
Convert option api stubs to composition api

**Environment context**
- Socialstream version: 3.4

[2022-05-20 08:57] ibnu-ja commented on #191
anyone working on this? if not please assign me

[2022-05-21 17:04] joelbutcher commented on #191
@ibnu-ja please can you send in a PR for this? Please update Jestream to the version where the composition API is support.

[2022-05-21 19:45] MillerAdulu opened #192 "[bug] Compatibility with Laravel Passport"
**Describe the bug**

Got an error `Driver [authorize] not supported` on a fresh project with SocialStream and Passport. Turns out,

**To Reproduce**
Steps to reproduce the behavior:
1. Install Passport and SocialStream
2. Use https://oauthdebugger.com/ to prepare an Oauth request so that the authorization which has social stream installed can show the login page
3. Paste the URL in the browser wi

[2022-05-22 11:45] joelbutcher commented on #192
@MillerAdulu if the above solution fixes the problem, what do you want us to do with this package? We're not an official Laravel package and there no doubt other packages that conflict with other first-party Laravel packages

[2022-05-22 12:14] MillerAdulu commented on #192
@joelbutcher

For documentation purposes in case someone is looking for the solution should it happen for them. Going ahead to close it now.

[2022-05-22 12:14] #192 closed

[2022-05-22 12:29] #191 closed

[2022-05-22 17:48] joelbutcher commented on #192
@MillerAdulu documentation has been added [here](https://github.com/joelbutcher/socialstream/commit/4fccaa4697a80c854619b8029c1c828ae5d81809)

[2022-07-04 05:02] pramodwagh opened #195 "Call to undefined method JoelButcher\Socialstream\Providers::shopify()[bug]"
**Describe the bug**
Hello, I am trying to add a Shopify provider but facing ' Call to undefined method JoelButcher\Socialstream\Providers::shopify()' this error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'socialstream.php file and add Providers::shopify()'
2. got to the terminal and run PHP artisan migrate

**Screenshots**
![image](https://user-images.githubusercontent.com/105330

[2022-07-04 22:05] joelbutcher commented on #195
Shopify isn't a supported Socialite provider. If you wish to use a custom provider, you will need to implement this yourself using SocialiteProviders. Please refer to this part of the README documentation

[2022-07-04 22:05] #195 closed

[2022-07-17 23:54] ayushghosh opened #196 "Installation steps broken with vite introduction in Laravel"
You get error.

Uncaught (in promise) TypeError: Failed to fetch dynamically imported module: http://0.0.0.0:5173/resources/js/Pages/Auth/Login.vue

I was able to update the paths and make it work for now.

[2022-07-20 10:22] Wit3 opened #197 "[bug] larastan access to an undefined property $token"
**Describe the bug**
If i run larastan (phpstan) the stub action createConnectedAcccount try to set $token

[code]

https://github.com/joelbutcher/socialstream/blob/4fccaa4697a80c854619b8029c1c828ae5d81809/stubs/app/Actions/Socialstream/CreateConnectedAccount.php#L29

But the abstract user doesn't implent this property.

**Environment context**
- Socialstream version: v3.5.0
- Jetstream stack:  Li

[2022-07-21 12:41] joelbutcher commented on #197
Unfortunately this is a side effect of using Laravel Socialite.

[2022-07-21 12:44] joelbutcher commented on #197
Please see https://github.com/laravel/socialite/blob/9dfc76b31ee041c45a7cae86f23339784abde46d/src/One/User.php#L14

[2022-07-21 12:44] #197 closed

[2022-07-21 12:49] joelbutcher commented on #196
Oops, looks like I missed the Vite release.

I'll take a look at this tonight - thanks for the spot!

[2022-07-21 21:36] joelbutcher commented on #196
Hi @ayushghosh I've just tried to replicate this with a fresh install, but everything seems to be working – are you working on a fresh application, or upgrading an existing one?

[2022-07-21 22:26] joelbutcher commented on #196
This has been fixed with release [v3.6.1](https://github.com/joelbutcher/socialstream/releases/tag/v3.6.1)

[2022-07-21 22:26] #196 closed

[2022-08-05 09:08] WizardOfCodez commented on #158
@joelbutcher Socialite now has an OAuth2 provider for twitter by default: https://github.com/laravel/socialite/blob/5.x/src/SocialiteManager.php ('twitter-oauth-2')

Since I am currently playing around with socialstream: Is it possible to use it out of the box?

[2022-08-05 09:13] joelbutcher commented on #158
@WizardOfCodez I've not tried this. Theoretically should be possible as we are if you cater for the provider in the Socialstream components. I'll look at supporting Twitter OAuth 2 this weekend.

[2022-08-06 12:30] joelbutcher commented on #158
Resolved with #206 – see release [v3.7.1](https://github.com/joelbutcher/socialstream/releases/tag/v3.7.1)

[2022-08-06 12:30] #158 closed

[2022-08-06 13:47] WizardOfCodez commented on #158
@joelbutcher works great but I think there is an issue on the Providers.vue that gets bootstrapped. Instead of

`      <a
        v-if="
          $page.props.socialstream.providers.includes('twitter') ||
          $page.props.socialstream.providers.includes('twitter-oauth-2')
        "
        :href="route('oauth.redirect', 'twitter')"

        <TwitterIcon class="h-6 w-6 mx-2" />
        <span c

[2022-08-07 12:26] joelbutcher commented on #158
Can you raise an issue and possibly send in a fix for this? Thanks!

[2022-08-07 12:27] WizardOfCodez commented on #158
Yep, will do and also fix an additional minor bug

[2022-08-07 13:55] WizardOfCodez commented on #158
https://github.com/joelbutcher/socialstream/pull/207

[2022-08-17 09:36] kuoppa opened #211 "current_connected_account_id not populated"
**Describe the bug**
When register the current_connected_account_id not populated to the user on registration.
(The user is created beforehand)

**Expected behavior**
current_connected_account_id should be connected

**Environment context**
- Socialstream version: v3.5.0
- Jetstream stack: Inertia
- Laravel version: 8.65
- PHP version: 8.1

[2022-08-17 11:04] octoper opened #212 "[bug] Remember Session is not working if user does not have a password"
**Describe the bug**
When I'm trying to login (let's say with GitHub) if I have the `rememberSession` feature enabled and the user does not have a password, the remember session functionality is not working.

I have seen that Laravel Jetstream adds a middleware `/jetstream/src/Http/Middleware/AuthenticateSession.php`, this middleware extends this one `Illuminate\Session\Middleware\AuthenticateSess

[2022-08-17 20:29] #211 closed

[2022-08-17 21:21] joelbutcher commented on #212
Hi, thanks for reporting this - what browser are you experiencing this issue with?

I have just pulled the latest release (v3.7.4) and set up the GitHub provider locally and I've:
1. Opened Google Chrome
2. Navigated one to the `/register` route and registered for the first time with GitHub
3. Logged out using the `Log Out` option in Jetstream's dropdown menu
4. Navigated to the `/login` route
5.

[2022-08-26 02:38] joelbutcher commented on #212
Closing this due to inactivity. Please "@" me if you feel this is still an issue with the package.

[2022-08-26 02:38] #212 closed

[2022-09-18 15:56] helloadmin opened #223 "On fresh install - missing Label.vue [bug]"
[vite:load-fallback] Could not load /resources/js/Components/Label.vue (imported by resources/js/Pages/Auth/Login.vue): ENOENT: no such file or directory, open '/resources/js/Components/Label.vue'

I installed a fresh Laravel from composer then installed Jetstream via composer (at which point no issues) then installed SocialStream via composer at which it failed on the standard npm run build  or n

[2022-09-19 19:21] #223 closed

[2022-09-19 19:22] joelbutcher commented on #223
Resolved with release 3.8.0

[2022-09-23 01:56] baoc75 opened #226 "Improve documentation about how to add a custom Socialite provider"
**What problem does this feature request solve?.**
- Although I have tried to read the documentation and go through Github Issues and PRs, all I could find is instructions about how to create a login button for a custom provider.
- So far, I've added the provider's name to the configuration array, added custom icons, and modified the socialsteam.blade.php and connected-account.blade.php file to di

[2022-09-23 12:39] joelbutcher commented on #226
You don’t need to publish this file to be able to extend it. Please can you resubmit this to [joelbutcher/socialstream-docs](https://github.com/joelbutcher/socialstream-docs) and outline the specific steps you propose should be documented.

Thanks

[2022-09-23 12:39] #226 closed

[2022-10-19 22:17] rgasch opened #227 "Enabling twitter-oauth-2 shows both twitter icons (V1 + OAuth2) on login screen"
**Describe the bug**
Both the Twitter(V1) and the TwitterOAuth2 login icons are displayed on login screen if only TwitterOAuth2 is configured.

**To Reproduce**
Steps to reproduce the behavior:
1. New Laravel + Socialstream install
2. Enable twitter-oauth-2 by setting the following in config/services.php
[code]
3. Enable these features in config/socialstream.php
[code]
4. Set Twitter OAuth2 entrie

[2022-11-03 11:03] rgasch commented on #227
No worries, thank you for your work!

[2022-11-04 11:56] joelbutcher commented on #227
@rgasch I believe there isn't an appropriate fix for this, since both versions of the Twitter OAuth flow behave in slightly different ways. I seem to recall Laravel Socialite having a similar issue raised when Twitter OAuth 2.0 support was introduced. I think the general response was "pick a side" or to similar effect, sorry!

Do you have an urgent requirement to support both OAuth standards for T

[2022-11-04 20:10] rgasch commented on #227
I believe I saw an issue somewhere which said that Socialite can not support both versions of twitter simultaneously ...

No, I just want to use V2 without seeing the login icon for V1 ... no worries though, I might just hack the login template to hide the Twitter V1 button ...